* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #6e0bfa;
  --secundary-color: #202020;
  --hover-color: #fcaf45;
  --background-color: rgba(243, 241, 245, 0.63);
}

body {
  font-family: Verdana, sans-serif;
  letter-spacing: 1px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-content {
  width: 60%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1.25rem 1.25rem 5rem 3rem rgb(94, 0, 131);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-content .left-side {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main-content .left-side img {
  width: 200px;
}

.main-content #right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content #right-side h2 {
  color: var(--primary-color);
  margin-bottom: 30px;
}

.main-content #right-side label {
  color: var(--primary-color);
  font-weight: 900;
}

.main-content #right-side button {
  color: var(--secundary-color);
  font-size: 10px;
  font-weight: 700;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  margin: 20px;
}

.main-content .right-side button:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

.main-content #right-side input {
  color: var(--secundary-color);
  font-size: 10px;
  font-weight: 700;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  margin: 20px;
}

.main-content .right-side input:active {
  box-shadow: 2px 2px 15px #8707ff inset;
}

